/* Hide scrollbar */
body {
    scrollbar-width: none; /* For Firefox */
}

/* WebKit */
::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

/* Internet Explorer */
body {
    -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer */
}
